<%- include('templates/navbar') %>
<%- include('templates/head') %>
<div class="container">
  <h1 class="text-center"><%= title %></h1>
  <a href="/auth/google" class="btn btn-outline-success">Lanjutkan Dengan Google</a>
  <a href="/auth/twitter" class="btn btn-outline-primary">Lanjutkan Dengan Twitter</a>
  <a href="/auth/github" class="btn btn-outline-dark">Lanjutkan Dengan Github</a>
</div>
<%- include('templates/foot') %>