<%- include('templates/navbar') %>
<%- include('templates/head') %>
<div class="container">
  <h1 class="text-center">Masuk</h1>

  <form action="/auth/login" method="post">
    <div class="form-floating mb-2">
      <input type="email" name="email" id="email" class="form-control" value="" placeholder="foo@example.com">
      <label for="email">Email</label>
    </div>

    <div class="form-floating mb-2">
      <input type="password" name="password" id="password" class="form-control" value="" placeholder="kata Sandi">
      <label for="password">Kata Sandi</label>
    </div>
    <button type="submit" class="btn btn-outline-success form-control">Login</button>
  </form>

  <a href="/auth/google" class="btn btn-light" style="border: 1px solid rgb(92, 92, 240)">
    <div class="row align-center">
      <div class="col col-1 padding-2">
        <img width="20px" alt="Google sign-in"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
      </div>
      <div class="col">
        Login With Google
      </div>
    </div>
  </a>

  <a href="/auth/github" class="btn btn-light" style="border: 1px solid rgb(92, 92, 240)">
    <div class="row align-center">
      <div class="col col-1 padding-2">
        <img width="20px" alt="Github sign-in"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/GitHub_logo_2013.svg/238px-GitHub_logo_2013.svg.png" />
      </div>
      <div class="col">
        Login With Github
      </div>
    </div>
  </a>

  <a href="/auth/twitter" class="btn btn-light" style="border: 1px solid rgb(92, 92, 240)">
    <div class="row align-center">
      <div class="col col-1 padding-2">
        <img width="20px" alt="Twitter sign-in"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Twitter_logo_2013.svg/238px-Twitter_logo_2013.svg.png" />
      </div>
      <div class="col">
        Login With Twitter
      </div>
    </div>
  </a>
</div>
<%- include('templates/foot') %>