<%- include('templates/navbar') %>
<%- include('templates/head') %>
<div class="container">
  <h1 class="text-center">Daftar Akun</h1>

  <form action="/auth/register" method="post">
    <div class="form-floating mb-2">
      <input type="text" name="full_name" id="full_name" class="form-control" value="" placeholder="Nama Lengkap">
      <label for="full_name">Nama Lengkap</label>
    </div>

    <div class="form-floating mb-2">
      <input type="email" name="email" id="email" class="form-control" value="" placeholder="foo@example.com">
      <label for="email">Email</label>
    </div>

    <div class="form-floating mb-2">
      <input type="password" name="password" id="password" class="form-control" value="" placeholder="kata Sandi">
      <label for="password">Kata Sandi</label>
    </div>
    <button type="submit" class="btn btn-outline-success form-control">Daftar</button>
  </form>

  <a href="/auth/google" class="btn btn-outline-success">Lanjutkan Dengan Google</a>
  <a href="/auth/twitter" class="btn btn-outline-primary">Lanjutkan Dengan Twitter</a>
  <a href="/auth/github" class="btn btn-outline-dark">Lanjutkan Dengan Github</a>
</div>
<%- include('templates/foot') %>