<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">CADLABAH</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts">Postingan</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Jenis Barang
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/posts/category/electronic">Elektronik</a></li>
            <li><a class="dropdown-item" href="/posts/category/accessories">Aksesoris</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-flex">
        <a href="/login" class="btn btn-outline-primary mx-1">Masuk</a>
        <a href="/logout" class="btn btn-outline-danger mx-1" onclick="return confirm('yakin logout?')">Logout</a>
      </div>
    </div>
  </div>
</nav>